@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
}

a {
  color: #000000;
  text-decoration: none;
}

.btn {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 0 14px;
  border-radius: 36px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  transition: background-color, border-color, color, stroke, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.8);
}
.btn:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #ffffff;
}
.btn:active {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.5);
}
.btn:disabled {
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.2);
}
.btn--orange {
  background-color: #ff7900;
  box-shadow: 0 0 0 0 #ff7900;
}
.btn--orange:hover {
  background-color: #ff9300;
  box-shadow: 0 0 0 0 #ff9300;
}
.btn--orange:active {
  background-color: #e56e00;
}
.btn--grey {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.btn--grey:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}
.btn--grey:active {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.btn--grey:disabled {
  --background-color: hsla(0, 0%, 100%, 0.1);
  color: hsla(0, 0%, 100%, 0.2);
}
.btn--outline {
  background-color: #ffffff;
  border: 1px solid #bfc3c8;
  color: #5a5d62;
}
.btn--outline:hover {
  background-color: #f6f7f9;
  border-color: #8f949b;
  color: #5a5d62;
}
.btn--outline:active {
  background-color: #e9eaed;
  border-color: #5a5d62;
  color: #5a5d62;
}
.btn__counter {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7900;
  color: #ffffff;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
}

.card {
  position: relative;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
}
.card__picture {
  width: 160px;
}
@media (max-width: 768px) {
  .card__picture {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 67px;
  }
}
.card__body {
  flex: 1;
  padding-left: 16px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card__body {
    padding-left: 0;
  }
}
.card__img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  background-color: #f7f7f7;
}
.card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.card__head-btn span {
  color: #e00034;
}
.card__head-btn span:first-child {
  color: #35373b;
}
.card__head-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card__head-item {
  display: flex;
  align-items: center;
  color: #8f949b;
  white-space: nowrap;
  text-overflow: hidden;
}
@media (max-width: 680px) {
  .card__head-item:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .card__desc {
    padding-left: 74px;
  }
}
.card__desc-title {
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #35373b;
  font-weight: 500;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .card__desc-title {
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    /* display 2 lines only */
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.card__desc-title:hover {
  color: #ff7900;
}
.card__desc-list {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.card__desc-item {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  border-right: 1px solid #d1d5db;
}
.card__desc-item:first-child {
  padding-left: 0;
}
.card__desc-item:last-child {
  border-right: none;
}
.card__desc-price {
  font-size: 1.25rem;
  color: #ff7900;
  font-weight: 700;
  margin-right: 6px;
  white-space: nowrap;
  text-overflow: hidden;
}
.card__desc-company {
  color: #ff7900;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 6px;
}
.card__desc-discount {
  color: #8f949b;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 4px;
  white-space: nowrap;
  text-overflow: hidden;
}
.card__desc-percent {
  color: #35373b;
  font-size: 1.3rem;
  margin-right: 8px;
  white-space: nowrap;
  text-overflow: hidden;
}
.card__delivery {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #8f949b;
}
.card__delivery-text {
  white-space: nowrap;
  text-overflow: hidden;
}
@media (max-width: 768px) {
  .card__delivery-text {
    display: none;
  }
}
.card__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .card__bottom {
    padding-bottom: 42px;
  }
}
.card__avatar {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #35373b;
  font-size: 0.85rem;
  font-weight: 700;
}
.card__avatar-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.card__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card__btn-bookmark {
  padding: 0;
  width: 36px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .card__btn-solde {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.aside-card {
  display: flex;
  gap: 8px;
}
.aside-card__img {
  width: 84px;
  height: 84px;
  border-radius: 8px;
}
.aside-card__title {
  color: #35373b;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  /* display 2 lines only */
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.aside-card__title span {
  color: #e00034;
}
.aside-card__price {
  text-align: right;
  color: #ff7900;
  font-weight: 700;
  margin-top: 8px;
}

.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8f949b;
  cursor: pointer;
}
.input-checkbox__input {
  display: none;
}
.input-checkbox__input:checked ~ .input-checkbox__input-box > .input-checkbox__input-icon {
  opacity: 1;
}
.input-checkbox__input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #d1d5db;
  background-color: #fff;
  border-radius: 8px;
}
.input-checkbox__input-icon {
  color: #ff7900;
  opacity: 0;
}

.input-text__label {
  font-weight: 700;
  color: #5a5d62;
  text-align: left;
  width: 100%;
  display: block;
  line-height: 1.25rem;
  margin-bottom: 8px;
}
.input-text__field {
  display: flex;
  width: 100%;
  padding: 9px 16px;
  outline: none;
  border: 1px solid #d1d5db;
  background-color: #fff;
  border-radius: 8px;
  font-size: 1rem;
}
.input-text__field:focus {
  border-color: #ff7900;
  box-shadow: 0 0 0 1px #ff7900;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
}
.modal__outer {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.modal__inner {
  position: relative;
  width: 630px;
  min-height: 540px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
.modal__btn-close {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.modal__btn-close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__title {
  color: #35373b;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: 24px;
}
.modal__social-btn {
  width: 100%;
  margin-bottom: 12px;
}
.modal__social-check {
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}
.modal__social-check:hover .input-checkbox__input-box {
  border-color: #35373b;
}
.modal__input-box {
  margin-bottom: 16px;
}

.breadcrumb {
  height: 40px;
  display: flex;
  align-items: center;
}
.breadcrumb__item::after {
  content: "›";
  display: inline-block;
  color: #ffffff;
  opacity: 0.4;
  width: 28px;
  text-align: center;
}
.breadcrumb__item:last-child::after {
  display: none;
}
.breadcrumb__link {
  color: #ffffff;
  font-size: 14px;
}
.breadcrumb__link:hover {
  text-decoration: underline;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }
}

.header {
  background-color: #35373b;
  color: #ffffff;
  height: 56px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.header__inner {
  position: relative;
}
.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 500;
  color: #ffffff;
  margin-right: 8px;
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: -40px;
  }
}
@media (max-width: 450px) {
  .header__logo {
    font-size: 1.2rem;
  }
}
.header__logo-img {
  width: 36px;
  margin-right: 8px;
}
@media (max-width: 450px) {
  .header__logo-img {
    width: 22px;
    margin-right: 4px;
  }
}
@media (max-width: 768px) {
  .header__form.active {
    position: absolute;
    z-index: 2;
    right: 48px;
    left: 48px;
  }
}
.header__form-content {
  position: relative;
}
.header__form-icon {
  color: #8f949b;
  margin-right: 4px;
  position: absolute;
  left: 8px;
  top: 6px;
}
@media (max-width: 768px) {
  .header__form-icon {
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .header__form-icon.active {
    color: #8f949b;
  }
}
.header__form-input {
  border: none;
  outline: none;
  width: 340px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 35px;
  padding-left: 40px;
  padding-right: 12px;
  margin-right: 7px;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .header__form-input {
    width: 35px;
    padding-left: 34px;
    padding-right: 0;
    background-color: rgba(255, 255, 255, 0.1019607843);
  }
}
@media (max-width: 768px) {
  .header__form-input.active {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 0 4px #ff7900;
  }
}
.header__form-input::-moz-placeholder {
  color: #8f949b;
  font-weight: 500;
  font-size: 1rem;
}
.header__form-input::placeholder {
  color: #8f949b;
  font-weight: 500;
  font-size: 1rem;
}
.header__form-input:focus {
  box-shadow: 0 0 0 4px #ff7900;
}
.header__mobile-menu-btn {
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  display: none;
}
.header__mobile-menu-btn.active {
  background-color: #868789;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__mobile-menu-btn {
    display: flex;
  }
}
.header__menu-btn.active {
  background-color: #868789;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}
.header__register-btn {
  margin-left: 7px;
}
@media (max-width: 1150px) {
  .header__register-btn {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 1150px) {
  .header__register-btn .btn__text {
    display: none;
  }
}
.header__add-btn {
  margin-left: 7px;
}
@media (max-width: 1150px) {
  .header__add-btn {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__add-btn {
    position: absolute;
    left: 42px;
  }
}
@media screen and (max-width: 1150px) {
  .header__add-btn .btn__text {
    display: none;
  }
}
.header__menu {
  display: none;
  background-color: #1d1f20;
  width: 460px;
  position: absolute;
  left: 200px;
  top: 56px;
  padding-top: 8px;
  z-index: 2;
}
@media (max-width: 768px) {
  .header__menu {
    left: -16px;
  }
}
.header__menu-item {
  margin-left: 7px;
}
.header__menu-link {
  display: inline-flex;
  margin-bottom: 6px;
}
.header__menu-divider {
  padding-top: 10px;
  border-top: 1px solid #5a5d62;
}
.header__submenu-list {
  margin: 20px 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
}
.header__submenu-link {
  color: rgba(255, 255, 255, 0.8);
}
.header__submenu-link:hover {
  color: #ffffff;
}

.slider-banner {
  background-color: #1d1f20;
  height: 76px;
  padding-top: 20px;
}
.slider-banner__content {
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
}
.slider-banner__btn {
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.875rem;
  overflow: hidden;
}
.slider-banner__btn .btn__text {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.slider-banner .swiper-button-next {
  right: 0;
}
.slider-banner .swiper-button-prev {
  left: 0;
}
.slider-banner .swiper-button-next:after, .slider-banner .swiper-button-prev:after {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: rgb(113, 111, 111);
}
.slider-banner .swiper-button-next:after {
  content: "next";
}
.slider-banner .swiper-button-next:after:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #ffffff;
}
.slider-banner .swiper-button-prev:after {
  content: "prev";
}
.slider-banner .swiper-button-prev:after:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #ffffff;
}

.nav {
  background-color: #ffffff;
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  position: relative;
}
@media (max-width: 768px) {
  .nav__content {
    margin-left: -16px;
    padding-right: 8px;
  }
}
.nav__dynamic-btn {
  all: unset;
  border: none;
  height: inherit;
  display: none;
  align-items: center;
  gap: 4px;
  color: #ff7900;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav__dynamic-btn {
    display: flex;
  }
}
.nav__dynamic-btn.active {
  color: #ffffff;
  background-color: #ff7900;
}
.nav__dynamic-btn.active .nav__dynamic-icon {
  transform: rotateZ(180deg);
}
.nav__list {
  display: flex;
  height: inherit;
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
    position: absolute;
    left: 0;
    top: 52px;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    width: 268px;
    height: initial;
    background-color: #fff;
    color: #63686d;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #d1d5db;
    box-shadow: 1px 6px 9px -1px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 768px) {
  .nav__list.active {
    display: flex;
  }
}
.nav__item {
  height: inherit;
}
@media (max-width: 768px) {
  .nav__item {
    width: 100%;
    border-bottom: 1px solid #d1d5db;
  }
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding-left: 16px;
  padding-right: 16px;
  color: #63686d;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
@media (max-width: 768px) {
  .nav__link {
    height: 56px;
    justify-content: flex-start;
  }
}
.nav__link:hover {
  color: #ff7900;
}
.nav__link.active {
  color: #ff7900;
}
.nav__link.active::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #ff7900;
  position: absolute;
  left: 0;
  bottom: -1.5px;
}
@media (max-width: 768px) {
  .nav__link.active::after {
    display: none;
  }
}
.nav__filter {
  position: relative;
}
.nav__filter-content {
  display: none;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 1px 6px 9px -1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: absolute;
  top: 46px;
  right: 0;
  width: 308px;
  padding-bottom: 20px;
  z-index: 2;
}
.nav__filter-list {
  margin-bottom: 20px;
}
.nav__filter-item {
  border-bottom: 1px solid #d1d5db;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 56px;
}
.nav__filter-btn {
  position: relative;
}
@media (max-width: 768px) {
  .nav__filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
  }
}
@media (max-width: 768px) {
  .nav__filter-btn .btn__text {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav__filter-btn .btn__counter {
    position: absolute;
    top: -6px;
    right: -6px;
  }
}
.nav__filter-btn.active {
  color: #ff7900;
  border-color: #ff7900;
  background-color: #fff1e6;
}
.nav__filter-btn.active:hover {
  border-color: #fff1e6;
}
.nav__filter-add-btn {
  justify-content: center;
  width: 246px;
  margin: 0 auto;
}

.main {
  background-color: #e9eaed;
  min-height: 100vh;
  margin-top: 56px;
}
.main__content {
  display: flex;
  padding-top: 0.5rem;
  gap: 0.5rem;
}
@media (max-width: 1140px) {
  .main__content {
    flex-direction: column-reverse;
  }
}
.main__products {
  flex: 3;
}
.main__aside {
  flex: 1;
}
.main__product-card {
  margin-bottom: 8px;
}
.main__aside-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (max-width: 1140px) {
  .main__aside-card {
    flex-direction: row;
  }
}
@media (max-width: 650px) {
  .main__aside-card {
    flex-wrap: wrap;
  }
}
.main__breadcrumb {
  background-color: #1d1f20;
}
.main__detail {
  max-width: 986px;
  margin: 0 auto;
  margin-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 1024px) {
  .main__detail {
    max-width: 100%;
  }
}

.detail__card {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .detail__card {
    flex-direction: column;
  }
}
.detail__card-picture {
  flex: 0 0 350px;
}
.detail__card-body {
  flex: 1;
}
.detail__card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.detail__card-img {
  display: block;
  width: 100%;
}
.detail__card-img-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail__card-forum {
  color: #35373b;
}
.detail__card-forum:hover {
  color: #ff7900;
}
.detail__card-date {
  color: #8f949b;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.detail__card-title {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  color: #35373b;
  margin-bottom: 30px;
}
.detail__desc-list {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.detail__desc-item {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  border-right: 1px solid #d1d5db;
}
.detail__desc-item:first-child {
  padding-left: 0;
}
.detail__desc-item:last-child {
  border-right: none;
}
.detail__desc-price {
  font-size: 2rem;
  color: #ff7900;
  font-weight: 700;
  margin-right: 6px;
  white-space: nowrap;
  text-overflow: hidden;
}
.detail__desc-company {
  color: #ff7900;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 6px;
}
.detail__desc-discount {
  color: #8f949b;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 4px;
  white-space: nowrap;
  text-overflow: hidden;
}
.detail__desc-percent {
  color: #8f949b;
  font-size: 1.5rem;
  margin-right: 8px;
  white-space: nowrap;
  text-overflow: hidden;
}
.detail__delivery {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #8f949b;
  font-size: 1rem;
}
.detail__delivery-text {
  white-space: nowrap;
  text-overflow: hidden;
}
@media (max-width: 768px) {
  .detail__delivery-text {
    display: none;
  }
}
.detail__btn-solde {
  height: 56px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .detail__btn-solde {
    width: 100%;
  }
}
.detail__avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}
.detail__avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.detail__avatar-name {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #35373b;
  margin-bottom: 7px;
}
.detail__avatar-name span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 4px;
}
.detail__avatar-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.detail__avatar-link {
  display: flex;
  align-items: center;
}
.detail__avatar-text {
  font-size: 12px;
  color: #35373b;
  margin-left: 3px;
}
.detail__chats {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  margin-top: 8px;
}
.detail__chats-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #35373b;
  font-weight: 500;
  margin-bottom: 18px;
}
.detail__chats-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #35373b;
  margin-bottom: 16px;
}
.detail__chats-more {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.detail__chats-more a {
  color: #ff7900;
  display: inline-flex;
  align-items: center;
}
.detail__chats-more a:hover {
  opacity: 0.7;
}
.detail__chats-btn {
  margin-top: 16px;
  margin-bottom: 16px;
}
.detail__chats-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid #8f949b;
  padding-bottom: 22px;
  margin-bottom: 22px;
}
.detail__chats-nav-link {
  color: #8f949b;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
.detail__chats-nav-link:hover {
  border-color: #8f949b;
}
.detail__chats-info {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.detail__chats-info p {
  margin-bottom: 16px;
}
.detail__chats-info a {
  font-weight: 700;
  font-size: 1rem;
}
.detail__chats-bottom {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 21px;
  background-color: #f6f7f9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
  padding-left: 24px;
  padding-right: 24px;
}
.detail__chats-bottom--messenger {
  border-radius: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #cbcfd5;
  margin-bottom: 24px;
}
.detail__chats-bottom-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #5a5d62;
}
.detail__chats-bottom-link:hover {
  color: #ff7900;
}
.detail__chats-slider {
  margin-bottom: 24px;
}
.detail__chats-slider .swiper-button-next,
.detail__chats-slider .swiper-button-prev {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #bfc3c8;
  border-radius: 50%;
  font-size: 1rem;
  color: #5a5d62;
}
.detail__chats-slider .swiper-button-next:after,
.detail__chats-slider .swiper-button-prev:after {
  font-size: 0.85rem;
  font-weight: 900;
}
.detail__chats-slider .swiper-button-next:hover,
.detail__chats-slider .swiper-button-prev:hover {
  border-color: #8f949b;
  background-color: #f6f7f9;
}
.detail__chats-card {
  display: block;
}
.detail__chats-card-picture {
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
  height: 140px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.detail__chats-card-img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
}
.detail__chats-card-desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #35373b;
  overflow: hidden;
  display: -webkit-box;
  /* display 2 lines only */
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.detail__chats-card-desc:hover {
  text-decoration: underline;
}
.detail__chats-card-item {
  margin-top: 8px;
}
.detail__chats-card-price {
  font-size: 1.125rem;
  color: #ff7900;
  font-weight: 700;
  margin-right: 6px;
  white-space: nowrap;
  text-overflow: hidden;
}
.detail__chats-card-discount {
  color: #8f949b;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 4px;
  white-space: nowrap;
  text-overflow: hidden;
}
.detail__chats-card-percent {
  color: #35373b;
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 8px;
  white-space: nowrap;
  text-overflow: hidden;
}
.detail__chats-messenger {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #cbcfd5;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.detail__chats-badge {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin-right: 8px;
}
@media (max-width: 425px) {
  .detail__chats-badge {
    width: 36px;
    height: 36px;
  }
}
.detail__chats-input {
  flex: 1;
  height: 54px;
  padding: 16px;
  outline: none;
  font-weight: 500;
  color: #5a5d62;
  border: 1px solid #d1d5db;
  background-color: #fff;
  border-radius: 8px;
  font-size: 1.1rem;
}
@media (max-width: 425px) {
  .detail__chats-input {
    height: 36px;
  }
}
.detail__chats-input:focus {
  border-color: #ff7900;
  box-shadow: 0 0 0 1px #ff7900;
}
.detail__chats-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.detail__chats-profile-img {
  border-radius: 50%;
  height: 54px;
  width: 54px;
}
@media (max-width: 425px) {
  .detail__chats-profile-img {
    height: 36px;
    width: 36px;
  }
}
.detail__chats-profile-name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #35373b;
}
.detail__chats-profile-name span {
  color: #8f949b;
  font-weight: 400;
}
.detail__chats-profile-comment {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 280px;
}

.footer {
  color: #fff;
  background-color: #35373b;
  padding-top: 48px;
}
.footer__top {
  color: #8f949b;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 20px;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, minmax(198px, 350px));
  padding-bottom: 20px;
}
@media (max-width: 1000px) {
  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .footer__nav {
    grid-template-columns: 1fr;
  }
}
.footer__bottom {
  border-top: 1px solid #5a5d62;
  padding-bottom: 16px;
}
@media (max-width: 780px) {
  .footer__bottom {
    font-size: 12px;
    padding-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .footer__list {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .footer__sublist {
    display: none;
  }
}
.footer__list-item {
  line-height: 32px;
}
.footer__list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: #fff;
  padding-bottom: 16px;
  padding-top: 16px;
}
@media (max-width: 650px) {
  .footer__list-title {
    border-top: 1px solid #5a5d62;
    cursor: pointer;
  }
}
.footer__list-title-icon {
  display: none;
}
@media (max-width: 650px) {
  .footer__list-title-icon {
    display: block;
  }
}
.footer__list-link {
  letter-spacing: 0.5px;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: 700;
  font-size: 0.875rem;
  transition: background-color, border-color, color, stroke, opacity, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.footer__list-link:hover {
  color: #ffffff;
}
.footer__bottom-nav {
  margin-top: 20px;
}
.footer__bottom-link {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  color: #8f949b;
  font-size: 0.75rem;
  line-height: 1.125rem;
}/*# sourceMappingURL=styles.css.map */